* {
    box-sizing: border-box;
}

body {
    padding: 10%;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 60%;
}




h1,
h2,
p,
ul,
ol,
a {
    font-family: 'Courier New', Courier, monospace;
}

li {
    margin-bottom: 10px;
}


a {
    display: block;
    text-align: left;
    color: black;
}


h2,
p,
ul,
ol {
    width: 60%;
    margin: 20px auto;
}

#home-link {
    text-align: center;
}